! terminal colors ------------------------------------------------------------

! "black"
*color0:  #222
*color8:  #555
! red
*color1:  #901
*color9:  #F57
! green
*color2:  #180
*color10: #6E5
! yellow
*color3:  #B80
*color11: #FF7
! blue
*color4:  #34D
*color12: #9AF
! magenta
*color5:  #80F
*color13: #C9F
! cyan
*color6:  #09A
*color14: #6FE
! "white"
*color7:  #EDE
*color15: #FFF

*background: #111
*foreground: #AAA

URxvt.font: xft:Terminus:bold:pixelsize=16
! URxvt.font: -*-proggyclean-*-*-*-*-*-*-*-*-*-*-*-*,7x13
! URxvt.font: -*-profont-*-*-*-*-11-*-*-*-*-*-*-*,7x13
URxvt.scrollBar: off
URxvt.perl-ext:      default,url-select
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.url-select.launcher: google-chrome --incognito
URxvt.url-select.underline: true
URxvt*termName:rxvt
URxvt*saveLines: 32000
