icons_format = "{icon}"

[icons]
icons = "material-nf"

[[block]]
block = "net"
format = " $icon {$ssid $signal_strength|wired} "

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
alert_unit = "GB"
format = " $icon $available "

[[block]]
block = "battery"
missing_format = ""

[[block]]
block = "load"
[[block.click]]
button = "left"
cmd = "alacritty -e 'btop'"

[[block]]
block = "sound"
[[block.click]]
button = "left"
cmd = "pavucontrol"

[[block]]
block = "time"
interval = 5
format = " $timestamp.datetime(f:'%g%V.%u/%m-%d %R:%S')"
