[user]
name = "Risto Saarelma"
email = "risto.saarelma@iki.fi"

[ui]
pager = "bat -p"
default-command = "status"

[aliases]
lg = ["log", "-n", "8"]

# Commit everything and update master, for text repos without commit messages.
snap = ["util", "exec", "--", "sh", "-c", """
# Don't do anything if there are no changes.
if [ -z "$(jj diff)" ]; then
    echo "No changes."
    exit 0
fi

# Assign dummy message if there's no description set.
if [ -z "$(jj show --no-patch @ -T 'description')" ]; then
    jj desc -m .
fi

jj new
# Update master branch to point to new commit.
jj bookmark set master -r @-
""", ""]

# Pull from remote named branch and rebase current work on top of it
purr = ["util", "exec", "--", "sh", "-c", """
# Get branch name from argument, default to master if not provided.
BRANCH_NAME="$1"
if [ -z "$BRANCH_NAME" ]; then
    BRANCH_NAME="master"
fi

jj git fetch
jj rebase -A $BRANCH_NAME
""", ""]
